.main {
}
.main__header {
    text-align: center;
    margin-top: 84px;
    width: 710px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
}

.main__header span {
    color: #4943DA;
}

.main__subheader {
    margin-top: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

